.GameScreen {
    height: 100%;
}

.logo-game {
    width: 240px;
    position: fixed;
    left: 50%;
    margin-left: -120px;
    margin-top: 16px;
}

.status-panel {
    position: fixed;
    width: 400px;
    color: yellow;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: 0px;
    text-align: center;
}