.box-item {
    display: inline-block;
    text-align: center;
    background-color: #2A1B18;
    border: 1px #f4d43c solid;
    color: white;
}

.box-item span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-weight: bold;
    padding: 25%;
    font-size: 100%;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}