.right-panel {
    position: fixed;
    right: 12px;
    top: 12px;
    color: #f4d43c;
}

.right-panel .label {
    font-size: 20px;
    text-align: right;
}

.right-panel .value {
    font-size: 32px;
    text-align: right;
}